@import "../../styles/config.scss";

.sectionCard {
  margin: 10px 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  .figure {
    margin: 0;
    width: 229px;
    height: 163px;

    .img {
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      width: inherit;
      height: inherit;
    }
  }

  .titleBox {
    background: $cardTitleColorBox;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 229px;
    max-height: 55px;
    height: 55px;
  }
}

.sectionCard:hover {
  position: relative;
  top: -3px;
  right: 3px;
  box-shadow: 3px 3px rgba($color: gray, $alpha: 0.2);
}
