.titleMovies {
  text-align: center;
}

.sectionCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  .containerCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
  }
}
