@import "./config.scss";


body{
    background: linear-gradient($upColor ,$downColor);
    min-height: 100vh;
}

a{
    color: $textColor;
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    color: $aHoverColor;
}